<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/estilos_proto.css" rel="stylesheet" type="text/css">
    <title>Login</title>
</head>

<body>
    <div id="cont">
        <h2>Login</h2> <br>
        <form action="/login" id="log" method="POST">
            <p id="iconsolvo"></p>
            <br /> 
            <div class="alert alert-primary alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <p id="iconuser"></p>
            <input type="text" name="user" id="user" placeholder="UserName" required> <br>
            <p id="iconpass"></p>
            <input type="password" name="pass" id="pass" placeholder="Password" required>
            <input type="submit" value="ingresar" name="ingresar" id="ingresar">

        </form>

    </div>
    
</body>

</html>